/* main styling */
* {
  box-sizing: border-box;
}
body {
 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* topmost heading */
#heading {
  margin: 40px 0px;
  text-align: center;
  font-weight: bolder;
  font-size: 70px;
  color: rgb(29, 21, 75);
}

.navbar {
margin-left: 0;
margin-right: 0;
background-color: rgb(41, 13, 85);

}

#brand{
  border: 1px solid white;
  padding: 4px;
}

/* index body heading */
#bodyHeading{
  text-align: center;
  margin-top: 150px;
  font-size: 40px;
  font-weight: bolder;
}

/* nav anchortag */
#collapsibleNavbar a:hover, #collapsibleNavbar a:focus{
  background-color: white;
  color: rgb(41, 13, 85);
}


/* input plcaeHolder alignment */
input::placeholder{
  text-align: center;
  font-weight: bold;
  }


  /* manufacture */

#manuForm {
  width: 40%;
  margin-top: 40px;
  position: relative;
}

#manuForm input {
  border-radius: 50px;
  border: 1px solid  rgb(166, 149, 190);


}

#manFormBtn{
  position: relative;
  left: 120px;
  width: 50%;
  margin-top: 20px;
  border-radius: 20px;
  background-color:rgb(41, 13, 85);
  color: white;
}
input#ManuKey.form-control {
  margin-bottom: 5px;
}


#manuForm span.help-block.form-error {
  position: absolute;
  top: 350px;
  left: 40px;
  background-color: rgb(223, 223, 53);
}
#dealForm span.help-block.form-error {
  position: absolute;
  top: 240px;
  left: 40px;
  background-color: rgb(223, 223, 53);
}

/* deal form */
#dealForm {
  width: 40%;
  margin-top: 40px;
  position: relative;
}

#dealForm input {
  border-radius: 50px;
  border: 1px solid  rgb(166, 149, 190);

}

#dealFormBtn{
  position: relative;
  left: 120px;
  width: 50%;
  margin-top: 20px;
  border-radius: 20px;
  background-color:rgb(41, 13, 85);
  color: white;
}
input#ManuKey.form-control {
  margin-bottom: 5px;
}




#myInput{
margin-top: 50px;
margin-left: 400px;
border-radius: 50px;;
border: 1px solid  rgb(166, 149, 190);
}
/* for larger screens  */
@media screen and (min-width: 1100px){
  /* input#manuKey.form-control {
    width: 85%;
  }

  input#dealKey.form-control{
    width:85%;
  } */

}



/* main view table */
#mainViewTable {
  margin-top: 20px;
}

#mainViewTable th{
font-size: small;
background-color: rgb(209, 193, 235);
}

#ViewTable {
  margin-top: 20px;
 
  display: none;
}
#ViewTable th {
  font-size: small;
background-color: rgb(209, 193, 235);
}

#proSearch {
width:30%;
height: 70px;
font-weight: bolder;
margin-top: 50px;
margin-left: 400px;
border-radius: 50px;;
border: 1px solid  rgb(166, 149, 190);

}

#proSearchBtn{
  border-radius: 20px;
  background-color:rgb(41, 13, 85);
  color: white;
}

h1.message {
  text-align: center;
  margin-top: 40px;
}
/* form small devices */
@media (min-width: 576px) and (max-width: 767px){
#heading{
  margin: 40px 0px;
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
  color: rgb(29, 21, 75);
} 


#manuForm {
  width: auto;
  margin-top: 40px;
  
}

#dealForm {
  width: auto;
  margin-top: 40px;
  
}

input::placeholder{
  text-align: center;
  font-size: small;
  }

  #manFormBtn{
    position: relative;
    left: 60px;
    width: 50%;
    margin-top: 20px;
    border-radius: 20px;
    background-color:rgb(41, 13, 85);
    color: white;
  }

  #dealFormBtn{
    position: relative;
    left: 60px;
    width: 50%;
    margin-top: 20px;
    border-radius: 20px;
    background-color:rgb(41, 13, 85);
    color: white;
  }

  span.help-block.form-error {
    position: absolute;
    top: 350px;
    left: 40px;
    background-color: rgb(223, 223, 53);
    font-size: smaller;
  }

  #myInput{
    margin-top: 50px;
    margin-left: 220px;
    border-radius: 50px;;
    border: 1px solid  rgb(166, 149, 190);
    }

  #proSearch{
    margin-top: 50px;
    margin-left: 220px;
    border-radius: 50px;;
    border: 1px solid  rgb(166, 149, 190);
    }
}
/* for extra small devices */
@media screen and (max-width: 576px){
  #heading{
    margin: 40px 0px;
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    color: rgb(29, 21, 75);
  } 


#manuForm {
  width: auto;
  margin-top: 40px;
  
}

#dealForm {
  width: auto;
  margin-top: 40px;
  
}

input::placeholder{
  text-align: center;
  font-size: small;
  }

  #manFormBtn{
    position: relative;
    left: 50px;
    width: 50%;
    margin-top: 20px;
    border-radius: 20px;
    background-color:rgb(41, 13, 85);
    color: white;
  }


  #dealFormBtn{
    position: relative;
    left: 50px;
    width: 50%;
    margin-top: 20px;
    border-radius: 20px;
    background-color:rgb(41, 13, 85);
    color: white;
  }

  span.help-block.form-error {
    position: absolute;
    top: 350px;
    left: 40px;
    background-color: rgb(223, 223, 53);
    font-size: smaller;
  }
  #myInput{
    margin-top: 50px;
    margin-left: 80px;
    border-radius: 50px;
    width: 50%;
    border: 1px solid  rgb(166, 149, 190);
    }

  
  #proSearch{
      margin-top: 50px;
      margin-left: 80px;
      border-radius: 50px;;
      border: 1px solid  rgb(166, 149, 190);
      }
}

/* for desktop view */
@media (min-width: 768px) and (max-width: 991px){

  #manuForm {
    width: auto;
    margin-top: 40px;
    
  }
  
  #dealForm {
    width: auto;
    margin-top: 40px;
    
  }

  input::placeholder{
    text-align: center;
    font-size: medium;
  }
}