<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="/stylesheets/style.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

 


    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>   

   
    <title>Document</title>
</head>
<body>
          {{!-- main heading --}}
 
       
        <h1 id="heading">Product Genuinity</h1>
        

    {{!-- navbar --}}
    
    <nav class="navbar navbar-expand-sm  navbar-dark sticky-top">
        {{!-- <a href="/" class="navbar-brand"><span id="brand">Home</span></a> --}}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target= "#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                   
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                   
                     
              
                </ul>
            </div>
    </nav>
   
   {{!-- table view of the data --}}
   <input class="form-control  col-sm-4 col-md-4" id="myInput" type="text" placeholder="enter the product number">
    <table id="mainViewTable" class="table table-bordered table-hover table-responsive-lg">
        <thead>
        <tr>
            <th>product Family</th>
            <th>product Id</th>
            <th>Date of Manufacture</th>
            <th>Date of Distribution</th>
            <th>Dealer Name</th>
            <th>Dealer id</th>
            <th>status</th>
            <th>Date of sale</th>
            <th>customer name</th>
            <th>customer mail</th>
            <th>Phone Number</th>
        </tr>
       </thead>
            {{#listings}}
        <tbody id="tpro">
            <tr>
                <td>{{product}}</td>
                <td>{{productId}}</td>
                <td>{{dateOfManufacture}}</td>
                <td>{{dateOfDistribution}}</td>
                <td>{{dealerName}}</td>
                <td>{{dealerId}}</td>
                <td >{{status}}</td>
                <td>{{DateOfSale}}</td>
                <td>{{customerName}}</td>
                <td>{{customerMail}}</td>
                <td>{{customerPhoneNum}}</td>
            </tr>
        </tbody>
            {{/listings}}
       


    </table>
  <div id="notFound"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase().trim();
    console.log("value:",value);
     const y = $("#tpro tr").text().toLowerCase().indexOf(value);
     console.log(y);
    $("#tpro tr").filter(function() {
         $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        document.getElementById('mainViewTable').style.display="block";
        document.getElementById("notFound").innerHTML = " ";
         
    });

    if(y === -1){
        console.log($(this).text().toLowerCase().indexOf(value))
        document.getElementById('mainViewTable').style.display="none";
        document.getElementById("notFound").innerHTML= '';
        var message = document.createElement("h1");
        message.innerHTML= "Product Not Found!!"
        message.className = "message";
        document.getElementById("notFound").appendChild(message);
    }
  }); 

  
});



</script>


</body>
</html>