<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>  
    <title>Document</title>
</head>
<body>
           {{!-- main heading --}}
 
       
        <h1 id="heading">Product Genuinity</h1>
        

    {{!-- navbar --}}
    
    <nav class="navbar navbar-expand-sm  navbar-dark sticky-top">
        {{!-- <a href="/" class="navbar-brand"><span id="brand">Home</span></a> --}}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target= "#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                     <ul class="navbar-nav">
                         <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                   
                       <li class="nav-item">
                        <a href="/DealView" class="nav-link">Check Product</a>
                    </li>
                </ul>
                </ul>
            </div>
    </nav>
    <div class="container-fluid">
        <div class="row justify-content-center">

            <form class="needs-validation" id="dealForm" novalidate>
                <div class="form-group">
                    <div class="form-row">
                        <input type="text" class="form-control"  id="dealKey" name="dealKey" placeholder="Enter the Dealer Key" required>
                    </div>
                
                    
                        <div class="form-row mt-2 mb-2">
                            <div class="col-md-6 col-sm-12">
                                <input type="text" class="form-control" id="pR" name="pR" placeholder="Enter the product"  data-validation="alphanumeric" required>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <input type="text" class="form-control" id="pId" name="pId" placeholder="Enter the product Id"  data-validation="custom" required>
                            </div>
                        </div>
           
                         <div class="form-row mt-2 mb-2">
                            <div class="col-md-6 col-sm-12">
                                 <input type="text" class="form-control" id="cName" name="cName" placeholder="Enter the customer Name"  data-validation="custom" data-validation-regexp="^([a-zA-Z]+)$" required>
                            </div>
                             <div class="col-md-6 col-sm-12">
                                <input type="text" class="form-control" id="cMail" name="cMail" placeholder="Enter the customer mail" data-validation="email" required>
                             </div>
                        </div>
                          <div class="form-row mt-2">
                            <div class="col-md-6 col-sm-12">
                                <input type="text" class="form-control" id="cPhone" name="cPhone" placeholder="customer Phone number" required>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                 <input type="text" onfocus="(this.type='date')" onblur= "(this.type='text')" class="form-control" id="dos" name="dos" placeholder="Date of sale" data-validation="date" required>
                            </div>
                            </div>
              
                    
               
                <button type="submit" id="dealFormBtn" onclick="addToRegisterD(event)">Submit</button>
                </div>
            </form>
        </div>
    </div>




     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script>//valiation item name
  $.validate({
    modules : 'html5',
 
   
  });
</script>
{{!-- <script>    
  $.validate({
 
    validateOnBlur : false, // disable validation when input looses focus
    errorMessagePosition : 'top', // Instead of 'inline' which is default
    scrollToTopOnError : false // Set this property to true on longer forms
  });
</script>  --}}
<script>
  $.validate();
  $('#my-textarea').restrictLength( $('#max-length-element') );
</script>
    
    
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
 <script src="/javascripts/main.js"></script>

</body>
</html>