<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
     
     <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> 


    <title>Document</title>
</head>
<body>
        {{!-- main heading --}}
 
       
        <h1 id="heading">Product Genuinity</h1>
        

    {{!-- navbar --}}
    
    <nav class="navbar navbar-expand-sm  navbar-dark sticky-top">
        {{!-- <a href="/" class="navbar-brand"><span id="brand">Home</span></a> --}}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target= "#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                     <ul class="navbar-nav">
                         <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                   <li class="nav-item">
                        <a href="/Manu" class="nav-link">DashBoard</a>
                    </li>
                         <li class="nav-item">
                        <a href="/mainView" class="nav-link">Check product</a>
                    </li>
                   
                </ul>
                </ul>
            </div>
    </nav>

<div class="container-fluid">
        <div class="row justify-content-center">
            <form id="manuForm" class="needs-validation" novalidate>
                <div class="form-group">
                
                <div class="form-row">
                <input type="text" class="form-control"  id="manuKey" name="manuKey" placeholder="Enter the Manufacture Key" required>
                </div>
  
                         <div class="form-row mt-4 mb-2">
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="pR" name="pR" placeholder="Enter the product"  required>
                            </div>
                            
                          </div>

                         
                          <div class="form-row mt-4 mb-2">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="text" class="form-control" id="pId" name="pId" placeholder=" product Id" data-validation="custom" required>
                            </div>
                         </div>
                
                        <div class="form-row">
                <button type="submit" onclick="DeletePro(event)" id="manFormBtn">Submit</button>
                        </div>
                </div>
            </form>
        </div>
    </div>
  
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script>
$(document).ready(function(){
  $("#divNum").blur(()=>{
 var x = proId();
 console.log(x);

 document.getElementById("pId").value = x;

})
})
 </script>
  

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script>//valiation item name
  $.validate({
    modules : 'html5',
 
   
  });
</script>
{{!-- <script>    
  $.validate({
 
    validateOnBlur : false, // disable validation when input looses focus
    errorMessagePosition : 'top', // Instead of 'inline' which is default
    scrollToTopOnError : false // Set this property to true on longer forms
  });
</script>  --}}
<script>
  $.validate();
  $('#my-textarea').restrictLength( $('#max-length-element') );
</script>
 





<script src="/javascripts/main.js"></script>

    
    
    
    
    
    
    
    
  



</body>
</html>