<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    

       {{!-- main heading --}}
 
       
        <h1 id="heading">Product Genuinity</h1>
        

    {{!-- navbar --}}
    
    <nav class="navbar navbar-expand-sm  navbar-dark ">
        {{!-- <a href="/" class="navbar-brand"><span id="brand">Home</span></a> --}}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target= "#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                     <ul class="navbar-nav">
                   
                    <li class="nav-item">
                        <a href="/Manu" class="nav-link">Manufacturer</a>
                    </li>
                     <li class="nav-item">
                        <a href="/Deal" class="nav-link">Dealer</a>
                    </li>
                     <li class="nav-item">
                        <a href="/view" class="nav-link">check your product</a>
                    </li>
                </ul>
                </ul>
            </div>
    </nav>

    <h2 id="bodyHeading">Welcome!</h2>




 <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>   
</body>
</html>